.profile__image {
  min-width: 100%;
  min-height: 100%;
  border-radius: 50%;
  background-image: url(../../../images/profile-image/Jacques.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


